* {
  margin: 0;
  padding: 0;
}

.cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cont .leftdiv {
  width: 400px;
  height: 673px;
  background-color: #0e1724;
  padding: 20px;
}

.cont .leftdiv h4 {
  color: white;
}

.cont .leftdiv .m1 {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cont .leftdiv .m1 h3 {
  font-size: 25px;
  font-weight: 800;
  color: white;
}

.cont .leftdiv .m1 h5 {
  position: absolute;
  color: grey;
  margin-top: 28px;
}

.cont .leftdiv .m1 .m12 {
  margin-left: 130px;
  border-left: 1px solid white;
  padding-left: 20px;
}

.cont .leftdiv .m1 .m12 h3 {
  font-size: 25px;
  font-weight: 800;
}

.cont .leftdiv .m2 {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cont .leftdiv .m2 h3 {
  font-size: 25px;
  font-weight: 800;
  color: white;
}

.cont .leftdiv .m2 h5 {
  position: absolute;
  color: grey;
  margin-top: 28px;
}

.cont .leftdiv .m2 .m22 {
  margin-left: 194px;
  border-left: 1px solid white;
  padding-left: 20px;
}

.cont .leftdiv .m2 .m22 h3 {
  font-size: 25px;
  font-weight: 800;
}

.cont .leftdiv .m3 {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cont .leftdiv .m3 h3 {
  font-size: 25px;
  font-weight: 800;
  color: white;
}

.cont .leftdiv .m3 h5 {
  position: absolute;
  color: grey;
  margin-top: 28px;
}

.cont .leftdiv .m3 .m32 {
  margin-left: 160px;
  border-left: 1px solid white;
  padding-left: 20px;
}

.cont .leftdiv .m3 .m32 h3 {
  font-size: 25px;
  font-weight: 800;
}

.cont .leftdiv .m4 {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cont .leftdiv .m4 h3 {
  font-size: 25px;
  font-weight: 800;
  color: white;
}

.cont .leftdiv .m4 h5 {
  position: absolute;
  color: grey;
  margin-top: 28px;
}

.cont .leftdiv .m4 .m42 {
  margin-left: 126px;
  border-left: 1px solid white;
  padding-left: 20px;
}

.cont .leftdiv .m4 .m42 h3 {
  font-size: 25px;
  font-weight: 800;
}

.cont .leftdiv .leftlow {
  background-color: #c42828;
  margin-top: 50px;
  margin-left: -20px;
  width: 400px;
  padding: 20px;
}

.cont .leftdiv .leftlow h3 {
  color: white;
}

.cont .rightdiv {
  padding: 20px;
}

.cont .rightdiv .topright h3 {
  color: #c42828;
}

.cont .rightdiv .topright .btns {
  margin-top: 20px;
}

.cont .rightdiv .topright .btns button {
  width: 200px;
  height: 40px;
  background-color: transparent;
  border: 1px solid grey;
  z-index: 1;
}

.cont .rightdiv .topright .btns button:hover {
  cursor: pointer;
  border: 1px solid blue;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cont .rightdiv .topright .btns img {
  height: 7vh;
  z-index: -1;
}

.cont .rightdiv .topright .btns #img3 {
  position: absolute;
  margin-left: -155px;
  margin-top: -9px;
  height: 8vh;
}

.cont .rightdiv .topright .btns #img2 {
  height: 5vh;
  position: absolute;
  margin-left: -380px;
  margin-top: 2px;
}

.cont .rightdiv .topright .btns #img1 {
  height: 5vh;
  position: absolute;
  margin-left: -300px;
  margin-top: 2px;
}

.cont .rightdiv .midright {
  margin-top: 30px;
}

.cont .rightdiv .midright .mr1 label {
  font-weight: 600;
}

.cont .rightdiv .midright .mr1 input {
  padding: 5px;
  width: 900px;
}

.cont .rightdiv .midright .mr2 {
  margin-top: 30px;
}

.cont .rightdiv .midright .mr2 label {
  font-weight: 600;
}

.cont .rightdiv .midright .mr2 .inputs input {
  padding: 5px;
  width: 400px;
}

.cont .rightdiv .midright .mr2 .inputs #i1 {
  margin-left: 81px;
}

.cont .rightdiv .midright .mr2 #l1 {
  margin-left: 400px;
}

.cont .rightdiv .midright .mr3 {
  margin-top: 30px;
}

.cont .rightdiv .midright .mr3 label {
  font-weight: 600;
}

.cont .rightdiv .midright .mr3 input {
  padding: 5px;
  width: 900px;
}

.cont .rightdiv .midright .rightlow {
  margin-top: 40px;
}

.cont .rightdiv .midright .rightlow button {
  padding: 10px;
  width: 300px;
  background-color: #2c9b92;
  border: none;
  color: white;
}

.cont .rightdiv .midright .rightlow button:hover {
  background-color: #07d1c0;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/*# sourceMappingURL=style.css.map */